
/*
    General
*/
/*body .field {
    background-color:transparent;
    background-image: url("assets/sprite.png");
    background-repeat: no-repeat;
    background-position-y: 0;
}*/



/*
    Rock level
*/

/*body.lvl-rock .field {
    background-position-x: 0;
}*/
