
.container {
    min-width: 1440px;
    margin: 0 auto;
    position: relative;
}

#topbar, #footer {
    background: transparent;
    color: #94A3B8;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}

    #topbar .container, #footer .container {
        background: #0F172A;
        height: 100%;
    }



#topbar {
    top: 0;
}

#content {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 50px 0;
}

#footer {
    bottom: 0;
}
