/*
    Minesweeper CSS file
*/

/*
    Imports
*/
@import url("style.general.css");
@import url("style.layout.css");
@import url("style.fonts.css");
@import url("style.components.css");
@import url("style.shared.css");
@import url("style.level.css");
@import url("style.vanka.css");
@import url("style.dido.css");
@import url("style.firefly.css");
@import url("style.cells.css");
@import url("style.cellAnimation.css");
@import url("style.fadeAnimation.css");
@import url("style.BlinkAnimation.css");

/*.cell2 {
    width: 64px;
    height: 64px;
    position: relative;
    cursor: pointer;
    cursor: url('./assets/custom-cursor-sm.png') 0 0, auto;
}

    .cell2 > div {
        background: url('assets/sprite.png');
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: "";
        display: block;
    }

   
.cell2 .flag {
    z-index: 10;
    visibility: hidden;
}

.cell2.flagged .flag {
    visibility: visible;
    background-position-y: -400px;
    background-position-x: -100px;
}

.cell2.fade.flagged .flag {
    display: none;
}


.cell2 .tile {
    z-index: 9;
}

.cell2.fade .tile {
    opacity: 0.5;
}

.cell2.revealed .tile {
    visibility: hidden;
}

.cell2 .tile.animated {
    animation: CellAnimation 2s infinite;
    animation-timing-function: steps(1, end);
}


.cell2 .chest {
    z-index: 8;
    background-position-x: -500px;
    background-position-y: -400px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s linear, visibility 2s linear;
}

.cell2.unopened .chest {
    visibility: visible;
    opacity: 1;
}


.cell2 .content {
    z-index: 7;
    background-position-x: 0;
    background-position-y: -100px;
}

    .cell2 .content.blackmine {
        background-position-x: -200px;
        background-position-y: -400px;
    }

    .cell2 .content.health {
        background-position-x: -700px;
        background-position-y: -400px;
    }

    .cell2 .content.number1 {
        background-position-x: 0;
        background-position-y: -200px;
    }

    .cell2 .content.number1sides {
        background-position-x: 0px;
        background-position-y: -300px;
    }

    .cell2 .content.number2 {
        background-position-x: -100px;
        background-position-y: -200px;
    }

    .cell2 .content.number2sides {
        background-position-x: -100px;
        background-position-y: -300px;
    }

    .cell2 .content.number3 {
        background-position-x: -200px;
        background-position-y: -200px;
    }

    .cell2 .content.number3sides {
        background-position-x: -200px;
        background-position-y: -300px;
    }

    .cell2 .content.number4 {
        background-position-x: -300px;
        background-position-y: -200px;
    }

    .cell2 .content.number4sides {
        background-position-x: -300px;
        background-position-y: -300px;
    }

    .cell2 .content.number5 {
        background-position-x: -400px;
        background-position-y: -200px;
    }

    .cell2 .content.number6 {
        background-position-x: -500px;
        background-position-y: -200px;
    }

    .cell2 .content.number7 {
        background-position-x: -600px;
        background-position-y: -200px;
    }

    .cell2 .content.number8 {
        background-position-x: -700px;
        background-position-y: -200px;
    }

    .cell2 .content.points {
        background-position-x: 0px;
        background-position-y: -400px;
    }

    .cell2 .content.radar {
        background-position-x: -600px;
        background-position-y: -400px;
    }

    .cell2 .content.redmine {
        background-position-x: -300px;
        background-position-y: -400px;
    }

    .cell2 .content.time {
        background-position-x: -400px;
        background-position-y: -400px;
    }


Background
.cell2 .background {
    z-index: 6;
    background-position-x: 0;
    background-position-y: -100px;
}
*/
