/*
.number1 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: 0;
    position: relative;
    z-index:2;
}
.number2 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: -100px;
    position: relative;
    z-index: 1;
}
.number3 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: -200px;
    position: relative;
    z-index: 1;
}
.number4 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: -300px;
    position: relative;
    z-index: 1;
}
.number5 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: -400px;
    position: relative;
    z-index: 1;
}
.number6 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: -500px;
    position: relative;
    z-index: 1;
}
.number7 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: -600px;
    position: relative;
    z-index: 1;
}
.number8 {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-position-x: -700px;
    position: relative;
    z-index: 1;
}
.number1sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-position-x: 0;
    position: relative;
    z-index: 1;
}
.number2sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-position-x: -100px;
    position: relative;
    z-index: 1;
}
.number3sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-position-x: -200px;
    position: relative;
    z-index: 1;
}
.number4sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-position-x: -300px;
    position: relative;
    z-index: 1;
}
.number5sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-position-x: -400px;
    position: relative;
    z-index: 1;
}
.number6sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-position-x: -500px;
    position: relative;
    z-index: 1;
}
.number7sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-position-x: -600px;
    position: relative;
    z-index: 1;
}
.number8sides {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-position-x: -700px;
    position: relative;
    z-index: 1;
}

.flag {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -500px;
    z-index: 1;
    position: relative;
}

.mine {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url('assets/sprite.png');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -600px;
    z-index: 1;
    position: relative;
}

.MineCounter-Sides {
}*/



    
