
@keyframes CellAnimation {

    0% {
        background: url('assets/sprite.png');
        background-position-x: 0;
        background-position-y: 0;
    }

    25% {
        background: url('assets/sprite.png');
        background-position-x: -100px;
        background-position-y: 0px;
    }

    50% {
        background: url('assets/sprite.png');
        background-position-x: -200px;
        background-position-y: 0px;
    }

    75% {
        background: url('assets/sprite.png');
        background-position-x: -300px;
        background-position-y: 0px;
    }

    100% {
        background: url('assets/sprite.png');
        background-position-x: -400px;
        background-position-y: 0;
    }
    /* 0% {
            background: url('assets/sprite.png');
            background-position-x: 0;
            background-position-y: 0;
        }

        50% {
            background: url('assets/sprite.png');
            background-position-x: 0px;
            background-position-y: -600px;
        }

        100% {
            background: url('assets/sprite.png');
            background-position-x: 0;
            background-position-y: 0;
        }*/
}

@keyframes CellFlagAnimation {

    0% {
        background-position-x: -500px;
        background-position-y: 0;
    }

    25% {
        background-position-x: -100px;
        background-position-y: -500px;
    }

    50% {
        background-position-x: -200px;
        background-position-y: -500px;
    }

    75% {
        background-position-x: -300px;
        background-position-y: -500px;
    }

    100% {
        background-position-x: -500px;
        background-position-y: 0;
    }
